.laptopWrapper {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.laptopHolder {
  gap: 50px;
  font-size: 28px;
  color: black;
  text-transform: uppercase;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 90px;
  padding-top: 30px;
}

.laptopHolder img {
  max-width: 100px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  filter: grayscale(1);
}

.laptopHolder img:hover {
  filter: grayscale(0);
}

.laptopHolder a:hover {
  text-shadow: -1px -1px rgb(62, 45, 149);
  color: rgb(62, 45, 149);
  font-weight: 600;
}

.laptopHolder a {
  font-size: 34px;
  border: none;
  background-color: white;
  color: blue;
  cursor: pointer;
}
